.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}
