.navbar-brand {
    font-weight: 700;
}

.nav-link {
    padding: 17px 55px;
    margin-right: 25px;    
}

.nav-link b {
    color:#000000;
    transition: 0.3s ease-in;
}

.nav-link b:hover {
    color: #ed5b0d;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 4vh;
    background: #F8F8F8;
}
