.cat-color {
    background-color: #ffd5a4;
}

.cat-color-secondary {
    background-color: #fffbf7;
}

.cat-head {
    position: relative;
    width: 200px;
    height: 200px;
    left: 35px;
    border-radius: 45%;
    border-bottom: 2px solid lightgray;
}

.cat-eyes {
    position: relative;
    top: 30px;
    display: flex;    
}

.cat-eye {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px;
    position: relative;
}

.cat-pupils {
    background-color: #4e4d4d;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.cat-ears {
    position: relative;
}

.cat-ear {
    border-radius: 90% 0 90% 0;
    height: 100px;
    width: 100px;
    position: absolute;
}

.cat-left-ear {
    left: 35px;
    transform: scale(1, -1);
}

.cat-right-ear {
    left: 135px;
}

.cat-muzzle {
    position: relative;
    top: 10px;
    left: 50px;
    width: 100px;
    height: 50px;
    border-radius: 40%;
}

.cat-nose {
    position: absolute;
    background-color: pink;
    width: 25PX;
    height: 25px;
    border-radius: 40% 0 90% 0;
    transform: rotate(-136deg);
    left: 39px;
    top: -12px;
}

.cat-mouth {
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    top: 2px;
    left: 2px;
    border-radius: 50% 60% 50% 50%;
    border-bottom: 5px solid lightgray;
}

.cat-mouth-right {
    border-radius: 60% 50% 50% 50%;
    left: 51px;
}

.cat-mouth-bottom {
    border-radius: 40% 0 90% 0;
    left: 34px;
    top: 34px;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
    border-bottom: 5px solid lightgray;
    border-right: 5px solid lightgray;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
}

.cat-body {
    position: relative;
    top: -90px;
    left: 10px;
    width: 260px;
    height: 280px;
    z-index: -1;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.cat-feet {
    position: relative;
    top: -140px;
}

.cat-foot {
    position: absolute;
    border-bottom: 5px solid lightgray;
    width: 75px;
    height: 40px;
    top: 10px;
    left: 26px;
    border-radius: 50%;
}

.cat-foot-right {
    left: 180px;
}